.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.token {
    font-size: 2rem;
    margin-top: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    color: #003366;
    letter-spacing: 2rem;
    text-transform: uppercase;
    max-width: 58%;
    font-weight: 700;
}

.nome {
    font-size: 2rem;
    margin-top: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    color: #003366;
    text-transform: uppercase;
    width: 90%;
    font-weight: 700;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}